ul {
  list-style-type: none;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.text-slide, .button_Footer, .button_body, .button_head {
  animation: slideInFromRight 1s ease-out forwards;
  overflow: hidden;
  white-space: nowrap;
}

header div ul {
  display: flex;
  justify-content: space-around;
}

header div ul li {
  list-style-type: none;
}

.button_head {
  position: fixed;
  top: 8px;
  z-index: 100;
  border-radius: 3px;
  border-color: aqua;
  background-color: rgb(227, 234, 233);
}

.button_body {
  position: fixed;
  top: 8px;
  z-index: 100;
  border-radius: 3px;
  border-color: aqua;
  background-color: rgb(227, 234, 233);
}

.button_Footer {
  position: fixed;
  top: 8px;
  z-index: 100;
  border-radius: 3px;
  border-color: aqua;
  background-color: rgb(227, 234, 233);
}

.img-zoom {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.img-zoom img {
  display: block;
}
.img-zoom .magnifier {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: none;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  display: none;
}
.img-zoom:hover .magnifier {
  display: block;
}

html {
  background-color: #D3D3D3;
  background-size: 1500px 620px;
  background-repeat: no-repeat;
  background-position: 10px 30px;
}

body {
  background-image: url(../../png/sebastian-svenson.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  background-size: 80px 200px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

footer {
  background-color: rgb(237, 229, 235);
}

.info {
  display: flex;
  justify-content: center;
}

.img-zoom {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.img-zoom img {
  display: block;
}
.img-zoom .magnifier {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: none;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  display: none;
}
.img-zoom:hover .magnifier {
  display: block;
}

html {
  background-color: #D3D3D3;
  background-size: 1500px 620px;
  background-repeat: no-repeat;
  background-position: 10px 30px;
}

body {
  background-image: url(../../png/sebastian-svenson.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  background-size: 80px 200px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

footer {
  background-color: rgb(237, 229, 235);
}

.name_three {
  display: flex;
  justify-content: center;
}

.text_three {
  display: flex;
  justify-content: center;
}

.name_two {
  display: flex;
  justify-content: center;
}

.text_two {
  display: flex;
  justify-content: center;
}

.link_two {
  display: flex;
  justify-content: center;
}

.name_one {
  display: flex;
}

.cost {
  display: flex;
}

.text_one {
  display: flex;
}

.link_one {
  display: flex;
}

.bor {
  display: flex;
  margin-top: 50px;
}

.img-zoom {
  flex-shrink: 0;
}/*# sourceMappingURL=style.css.map */