ul {
  list-style-type: none;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.text-slide, .button_Footer, .button_body, .button_head {
  animation: slideInFromRight 1s ease-out forwards;
  overflow: hidden;
  white-space: nowrap;
}

header div ul {
  display: flex;
  justify-content: space-around;
}

header div ul li {
  list-style-type: none;
}

.button_head {
  position: fixed;
  top: 8px;
  z-index: 100;
  border-radius: 3px;
  border-color: aqua;
  background-color: rgb(227, 234, 233);
}

.button_body {
  position: fixed;
  top: 8px;
  z-index: 100;
  border-radius: 3px;
  border-color: aqua;
  background-color: rgb(227, 234, 233);
}

.button_Footer {
  position: fixed;
  top: 8px;
  z-index: 100;
  border-radius: 3px;
  border-color: aqua;
  background-color: rgb(227, 234, 233);
}

.img-zoom {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.img-zoom img {
  display: block;
}
.img-zoom .magnifier {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: none;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  display: none;
}
.img-zoom:hover .magnifier {
  display: block;
}

main {
  background-image: url(../../png/sebastian-svenson.jpg);
  background-size: 1600px 380px;
  background-repeat: no-repeat;
  background-position: 0px 400px;
  padding: 1px;
}

footer {
  background-color: rgb(237, 229, 235);
  padding: 1px;
}

.amg {
  width: 300px;
  margin-top: 1px;
}
@media screen and (min-width: 768px) {
  .amg {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .amg {
    width: 600px;
  }
}

.amgg {
  width: 130px;
}
@media screen and (min-width: 768px) {
  .amgg {
    width: 180px;
  }
}
@media (min-width: 1200px) {
  .amgg {
    width: 250px;
  }
}

.fori {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .fori {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .fori {
    width: 600px;
  }
}

body {
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
}

.info {
  display: flex;
  justify-content: center;
  margin-top: 0.1px;
}

.img-zoom {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.img-zoom img {
  display: block;
}
.img-zoom .magnifier {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: none;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  display: none;
}
.img-zoom:hover .magnifier {
  display: block;
}

main {
  background-image: url(../../png/sebastian-svenson.jpg);
  background-size: 1600px 380px;
  background-repeat: no-repeat;
  background-position: 0px 400px;
  padding: 1px;
}

footer {
  background-color: rgb(237, 229, 235);
  padding: 1px;
}

.amg {
  width: 300px;
  margin-top: 1px;
}
@media screen and (min-width: 768px) {
  .amg {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .amg {
    width: 600px;
  }
}

.amgg {
  width: 130px;
}
@media screen and (min-width: 768px) {
  .amgg {
    width: 180px;
  }
}
@media (min-width: 1200px) {
  .amgg {
    width: 250px;
  }
}

.fori {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .fori {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .fori {
    width: 600px;
  }
}

body {
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
}

.name_three {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .name_three {
    flex-wrap: nowrap;
  }
}

.text_three {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .text_three {
    flex-wrap: nowrap;
  }
}

.name_two {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .name_two {
    flex-wrap: nowrap;
  }
}

.text_two {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .text_two {
    flex-wrap: nowrap;
  }
}

.link_two {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .link_two {
    flex-wrap: nowrap;
  }
}

.name_one {
  display: flex;
  justify-content: center;
}

.cost {
  display: flex;
  justify-content: center;
}

.text_one {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .text_one {
    flex-wrap: nowrap;
  }
}

.link_one {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .link_one {
    flex-wrap: nowrap;
  }
}

.bor {
  display: flex;
  margin-top: 30px;
  margin-right: 30px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .bor {
    flex-wrap: nowrap;
  }
}

.img-zoom {
  flex-shrink: 0;
}

.text_onew {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .text_onew {
    flex-wrap: nowrap;
  }
}/*# sourceMappingURL=style.css.map */