.name_one {
    display: flex;
    justify-content: center;
}

.cost {
    display: flex;
    justify-content: center;
}

.text_one {
    display: flex;
    justify-content: center;
}

.link_one {
    display: flex;
    justify-content: center;
}