.name_two {
    display: flex;
    justify-content: center;
}

.text_two {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.link_two {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}