header div ul {
    display: flex;
    justify-content: space-around; // or space-between, depending on the desired spacing
}

header div ul li {
    list-style-type: none; // Ensure no bullet points
}

.button_head {
    position: fixed;
    top: 8px;
    @extend .text-slide;
    z-index: 100;
    border-radius: 3px;
    border-color: aqua;
    background-color: rgb(227, 234, 233);

}

.button_body {
    position: fixed;
    top: 8px;
    @extend .text-slide;
    z-index: 100;
    border-radius: 3px;
    border-color: aqua;
    background-color: rgb(227, 234, 233);

}

.button_Footer {
    position: fixed;
    top: 8px;
    @extend .text-slide;
    z-index: 100;
    border-radius: 3px;
    border-color: aqua;
    background-color: rgb(227, 234, 233);
}