.img-zoom {
    position: relative;
    overflow: hidden;
    display: inline-block;

    img {
        // width: 100%;
        // height: auto;
        display: block;
    }

    .magnifier {
        position: absolute;
        width: 150px;
        height: 150px;
        border: 3px solid #fff;
        border-radius: 50%;
        cursor: none;
        pointer-events: none;
        background-repeat: no-repeat;
        background-size: 300% 300%;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transform: translate(-50%, -50%);
        display: none;
    }

    &:hover .magnifier {
        display: block;
    }
}






main {
    background-image: url(../../png/sebastian-svenson.jpg);

    background-size: 1600px 380px;
    background-repeat: no-repeat;
    background-position: 0px 400px;
    padding: 1px;

}

footer {
    background-color: rgb(237, 229, 235);

    padding: 1px;
}

.amg {

    width: 300px;
    margin-top: 1px;

    @media screen and (min-width:768px) {
        width: 250px;
    }

    @media (min-width: 1200px) {
        width: 600px;
    }
}

.amgg {
    // Changed to 100% for responsiveness
    width: 130px; // Set a max-width to maintain layout

    @media screen and (min-width:768px) {
        width: 180px;
    }

    @media (min-width: 1200px) {
        width: 250px;
    }
}



.fori {
    width: 400px;
    display: flex;
    justify-content: space-around;

    margin-top: 10px;

    @media screen and (min-width:768px) {
        width: 300px;
    }

    @media (min-width: 1200px) {
        width: 600px;
    }

}

body {

    background: linear-gradient(135deg, #74ebd5, #acb6e5);

}