.img-zoom {
    position: relative;
    overflow: hidden;
    display: inline-block;

    img {
        // width: 100%;
        // height: auto;
        display: block;
    }

    .magnifier {
        position: absolute;
        width: 150px;
        height: 150px;
        border: 3px solid #fff;
        border-radius: 50%;
        cursor: none;
        pointer-events: none;
        background-repeat: no-repeat;
        background-size: 300% 300%;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transform: translate(-50%, -50%);
        display: none;
    }

    &:hover .magnifier {
        display: block;
    }
}

html {
    background-image: url(/png/balancing.jpg);
    background-size: 1600px 620px;
    background-repeat: no-repeat;
    background-position: 0px 30px;

}

.amg {
    width: 900px;
    height: 700px;
}

body {
    background-image: url(/png/architecture-7566412.jpg);
    background-size: 1680px 840px;
    background-repeat: no-repeat;
    background-position: 0px 640px;
}

main {
    background-image: url(/png/pastel-8477455_1920.jpg);
    background-size: 1680px 100%;
    background-repeat: no-repeat;
    background-position: 0px 1465px;
}

footer {
    background-color: rgb(237, 229, 235);

}